<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%-include ('partials/head.html') %>
    <style>
        body {
            font-family: 'Spicy Rice', cursive;
        }
    </style>
</head>

<body>

    <%-include ('partials/navigation.html') %>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text center">
                <img src="/img/deb.png" class="animate__bounceIn" width="100%" alt="I love you">
                <p class="text-white"> Jajajaja esto no tiene nada que ver. <br> Pero no sabia que poner. xD </p>
            </div>
        </header>
    </div>

    <!-- SECTION ONE -->
    <div class="container fluid" id="about">
        <div class="row text-white p-5 text-center">
            <div class="">
            </div>
            <div class="">
                <h3>Hice esta pagina solo para Deb</h3>
                <p width='60%' >I will follow you way down wherever you may go
                    I'll follow you way down to your deepest low
                    I'll always be around wherever life takes you
                    You know I'll follow you</p>
            </div>
        </div>
    </div>

    <%-include ('partials/footer.html') %>
    
</body>

</html>